# Pandas Series using list

In [1]:
import pandas as np
dataseries=np.Series([2,3,-4,6]) #np.Series(data,index,dtype,copy)
dataseries# assumes index automatically and it starts from 0 and end with respect to the data

0    2
1    3
2   -4
3    6
dtype: int64

In [2]:
dataseries1=np.Series([2,3,-4,6],index=[1,2,3,4],dtype=float)
dataseries1 #index was given  for the data

1    2.0
2    3.0
3   -4.0
4    6.0
dtype: float64

In [3]:
dataseries1.iloc[1] # asked the integer locator to locate index 1.it uses the default index and given the output as 3

3.0

# Pandas series creation using numpy array

In [4]:
import numpy as np
import pandas as pd
data=np.array(['a','b','f',1]) # numpy array can use different data types
dataseries2=pd.Series(data,index=[1,2,3,4])
dataseries2

1    a
2    b
3    f
4    1
dtype: object

# Pandas series using dictionary

In [5]:
import pandas as pd
data_dictionary={'Delhi':12.9,'Mumbai':8.4,'Kolkata':9.7}
dataseries3=pd.Series(data_dictionary,dtype=float)
print(dataseries3)
dataseries3['Delhi'] == dataseries3[0] # as for dictionary it assumes default index value
dataseries3.loc['Delhi'] == dataseries3.iloc[0] # loc operator for string and iloc for integers

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
dtype: float64

True

In [6]:
import pandas as pd
data_dictionary={'Delhi':12.9,'Mumbai':8.4,'Kolkata':9.7}
dataseries3=pd.Series(data_dictionary,index=[1,2,3],dtype=float)
dataseries3

1   NaN
2   NaN
3   NaN
dtype: float64

# Changing index in the pandas series

In [7]:
num=['num1','num2','num3']
dataseries4=pd.Series(['a','b','c'],index = num, dtype=str)
dataseries4

num1    a
num2    b
num3    c
dtype: object

In [8]:
dataseries4.iloc[0]==dataseries4['num1'] #default index

True

# Mathematical operation

In [9]:
import pandas as pd
data_dictionary={'Delhi':12.9,'Mumbai':8.4,'Kolkata':9.7}
dataseries3=pd.Series(data_dictionary,dtype=float)
dataseries3

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
dtype: float64

In [10]:
dataseries3[dataseries3>9] #to get the vlues >9 we should use dataseries3[dataseries3>9]

Delhi      12.9
Kolkata     9.7
dtype: float64

In [11]:
dataseries3>9 # just use Boolean function to check true or false

Delhi       True
Mumbai     False
Kolkata     True
dtype: bool

In [12]:
dataseries3*9# can be multiplied with 9

Delhi      116.1
Mumbai      75.6
Kolkata     87.3
dtype: float64

# Demonstration of missing values

In [13]:
cities=['Delhi','Mumbai','Kolkata','Chennai']
data_dictionary={'Delhi':12.9,'Mumbai':8.4,'Kolkata':9.7}
dataseries5=pd.Series(data_dictionary,index =cities,dtype=float)
dataseries5 #Nan is wasy of pandas representing missing values

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
Chennai     NaN
dtype: float64

In [14]:
print(dataseries5+dataseries3)
print(dataseries3)
print(dataseries5)

Chennai     NaN
Delhi      25.8
Kolkata    19.4
Mumbai     16.8
dtype: float64
Delhi      12.9
Mumbai      8.4
Kolkata     9.7
dtype: float64
Delhi      12.9
Mumbai      8.4
Kolkata     9.7
Chennai     NaN
dtype: float64

# accesing elements in pandas

In [15]:
cities=['Delhi','Mumbai','Kolkata','Chennai']
data_dictionary={'Delhi':12.9,'Mumbai':8.4,'Kolkata':9.7}
dataseries5=pd.Series(data_dictionary,index =cities,dtype=float)
dataseries5

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
Chennai     NaN
dtype: float64

In [16]:
dataseries5[:2]# index 0,1

Delhi     12.9
Mumbai     8.4
dtype: float64

In [17]:
dataseries5[1:3]# index 1,2

Mumbai     8.4
Kolkata    9.7
dtype: float64

In [18]:
dataseries5[:4]# index 0,1,2,3

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
Chennai     NaN
dtype: float64

In [19]:
dataseries5[0:]# index 0,1,2,3

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
Chennai     NaN
dtype: float64

In [20]:
#dataseries5[3:4]=5.7# replacing the missing value with 5.7
#dataseries5['Chennai'] = 5.7# this way you can pass value
dataseries5.iloc[3]=5.7#this way you can pass value
dataseries5

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
Chennai     5.7
dtype: float64

# sorting in pandas

In [21]:
import pandas as pd
import numpy as np
dataseries6=pd.Series([np.nan,1,2,3,4])
dataseries6

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [22]:
dataseries6.sort_values(ascending=False)

4    4.0
3    3.0
2    2.0
1    1.0
0    NaN
dtype: float64

In [23]:
dataseries6.sort_values(axis=0)

1    1.0
2    2.0
3    3.0
4    4.0
0    NaN
dtype: float64

In [24]:
dataseries6.sort_values(ascending=True,na_position='first')

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [25]:
dataseries6

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64