In [1]:
a=int(input())
b=int(input())
print(a-b)

5
3
2

In [2]:
a=56 
b=78
print(a+b)

134

In [3]:
Name1="my father name is jayakumar"
Name2="my mother name is rajathi"
print(Name1+Name2)

my father name is jayakumarmy mother name is rajathi

In [5]:
a=45
b=45
print(a-b)

0

In [6]:
X=5
name="python"
print(X)
print(name)

5
python

In [7]:
Name="CSE"
age=100
print(Name)
print(age)

CSE
100

In [8]:
x,y=10,20
X=10
y=20
print(x+y)
print(x-y)

30
-10

In [9]:
bin=0b1111
print(bin)

15

In [10]:
t=("a","b","c")
t

('a', 'b', 'c')

In [11]:
X,Y,Z=100,-45,0
print(X,Y,Z)

100 -45 0

In [13]:
Name=input("Enter the Name:")
print(Name)

Enter the Name:rajesh
rajesh