In [10]:
import numpy as np
import pandas as pd
import re
s = pd.Series(["a2a3", "b2", "c2"], index=["X", "Y", "Z"])
s.str.extractall(r'([abc]\d)')

          0
  match
X 0      a2
  1      a3
Y 0      b2
Z 0      c2

In [15]:
s.str.extractall(r'(?P<alphabet>[abc])(?P<digit>\d)')

        alphabet digit
  match
X 0            a     2
  1            a     3
Y 0            b     2
Z 0            c     2