In [10]:
vinisha=('Harshitha',24,24.00)
#type(vinisha)
vinisha.append('jayakumar')

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
vinisha=['Harshitha',24,24.00]
type(vinisha)

list

In [9]:
vinisha.append('jayakumar')
vinisha

['Harshitha', 24, 24.0, 'jayakumar']

In [18]:
X,Y,Z=10,-45,0
print(X,Y,Z)

10 -45 0

In [19]:
import random
print (random.randint(0,5))

3

In [21]:
import math
math.factorial(3)

6

In [24]:
import datetime
print(datetime.date)

<class 'datetime.date'>

In [39]:
def swap(a,b):
    a=input('Enter the first number:')
    b=input('Enter the second number:')
    a,b=b,a
    print(a,b)
    
swap(a,b)

Enter the first number:3
Enter the second number:6
6 3

In [41]:
vini=dict()
vini

{}

In [59]:
vini={'name':'jayakumar','age':50,'housenumber':'355A'}
all('age')

True

In [65]:
dict.keys(vini)
d={'mothername':'Rajathi'}

In [67]:
vini.update(d)
vini

{'name': 'jayakumar',
 'age': 50,
 'housenumber': '355A',
 'mothername': 'Rajathi'}